@import "../styles/color.scss";

.container {
  width: 45.8333vw;
  height: 20.5729vw;
  background-color: $darkCharcoal;
  border-radius: 14px;
  padding: 4.1667vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.serviceHeader {
  display: flex;
  justify-content: space-between;
}

.titleWrapper {
  display: flex;
  gap: 0.7292vw;
  align-items: center;
}

.title {
  color: $softPink;
  text-transform: uppercase;
  font-family: "Roboto Flex", sans-serif;
  font-weight: 500;
  font-size: 1.5625vw;
}

.moreInfo {
  display: flex;
  align-items: center;
  gap: 0.7292vw;
}

.moreInfoTitle {
  color: $silverGray;
  text-transform: uppercase;
  font-family: "Roboto Mono", monospace;
  font-weight: 500;
  font-size: 1.0417vw;
}


.price {
  width: 100%;
  text-align: right;
  color: $softPink;
  font-weight: 500;
  font-size: 1.5625vw;
  font-family: "Roboto Flex", sans-serif;
  text-transform: uppercase;
}

