.container {
  width: 100%;
  height: 80vh;
  margin-top: 1.0417vw;
  display: flex;
  flex-direction: column;
  justify-content:  space-between;
}
.heroLayout {
  display: flex;
  justify-content: space-between;
}
.fadeUp {
  opacity: 0;
  transform: translateY(50px);
  transition: all 0.8s ease;
}

.show {
  opacity: 1;
  transform: translateY(0);
}
