@import "../styles/color.scss";

.headWithButton {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 2.6042vw 0 2.6042vw;
  height: 8.75vw;
  border-radius: 16px;
  background-color: $darkCharcoal;
}


.details {
  display: flex;
  align-items: center;
  gap: 0.5208vw;
  cursor: pointer;
}

.infoTitle {
  color: $silverGray;
  font-weight: 500;
  font-family: "Roboto Mono", monospace;
  font-size: 1.0417vw;
  text-transform: uppercase;
}

