@import "../styles/color.scss";

.container {
  background-color: $jetBlack;
  padding: 0.9375vw 1.25vw;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 12px;
  font-family: "Roboto Mono", monospace;
  font-weight: 500;
  font-size: 0.9375vw;
  color: #81807E;
}

.active {
  background-color: $jetBlack;
  font-size: 0.9375vw;
  padding: 0.9375vw 1.25vw;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 12px;
  font-family: "Roboto Mono", monospace;
  font-weight: 500;
  color: $softPeach;
}