@import "../styles/color.scss";

.scrollContainer {
  width: 100%;
  overflow: hidden;
  padding: 1.0417vw 0;
  background-color: $jetBlack;
  border-radius: 12px;
  text-transform: uppercase;

  &.large {
    background-color: $darkCharcoal;
    margin: 1.0417vw 0 1.0417vw 0;

  }

  .scrollItem {
    color: $stormGray;
  }
}

.scrollContent {
  display: flex;
  gap: 0.5208vw;
  animation: scroll 20s linear infinite;
  white-space: nowrap;
}

.scrollItem {
  display: flex;
  gap: 0.5208vw;
  font-size: 1.0417vw;
  color: $stormGray;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.dot {
  color: $terraCota;
  width: 0.3646vw;
  height: 0.3646vw;
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}