.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1.0417vw;
  margin-top: 120px;
}

.title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 2.6042vw 0 2.6042vw;
  height: 8.75vw;
  border-radius: 16px;
  background-color: #1A1A1A;
}

.details {
  display: flex;
  align-items: center;
  gap: 0.5208vw;
}

.infoTitle {
  color: #B3B3B2;
  font-weight: 500;
  font-family: "Roboto Mono", monospace;
  font-size: 1.0417vw;
}

.worksInfo {
  width: 100%;
  height: 24.2708vw;
  display: flex;
  justify-content: space-between;
  padding: 1.0417vw;
  border-radius: 20px;
  border: 2px solid #1F1F1F;
}

.image {
  width: 30.1563vw;
  height: 22.1875vw;
}

.aboutProject {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}


