@import "../styles/color.scss";

.container {
  width: 54.8438vw;
  height: 9.7792vw;
  background-color: $darkCharcoal;
  padding: 2.6042vw;
  display: flex;
  justify-content: space-between;
  border-radius: 16px;
  margin-top: -0.1042vw;
}

.title {
  color: $stormGray;
  font-weight: 400;
  font-family: "Roboto Mono", monospace;
  font-size: 0.9375vw;
  text-transform: uppercase;
}

.secondTitle {
  color: $softPink;
  font-weight: 500;
  font-family: "Roboto Flex", sans-serif;
  text-transform: uppercase;
  font-size: 1.5625vw;
}

.leftWrapper {
  display: flex;
  flex-direction: column;
  gap: 0.9208vw;
}

.input {
  width: 20.5208vw;
  padding: 0.9375vw 1.0417vw;
  border: none;
  border-bottom: 1px solid $darkSlate;
  font-family: "Roboto Flex", sans-serif;
  font-size: 0.9375vw;
  color: $softPink;
  background-color: $darkCharcoal;

}

.input::placeholder {
  color: $stormGray;
}

.input:focus {
  outline: none;
}

.inputWrapper {
  display: flex;
  align-items: center;
  gap: 1.0417vw;
}