@import "../styles/color.scss";

.container {
  background-color: $jetBlack;
  border-radius: 20px;
  border: 2px solid $darkCharcoal;
  width: 100%;
  padding: 1.0417vw;
  display: flex;
  justify-content: space-between;
}