@import "../styles/color.scss";


.container {
  background-color: $darkCharcoal;
  border-radius: 20px;
  width: 54.8438vw;
  height: 17.7604vw;
  padding: 3.125vw;
  display: flex;
  justify-content: space-between;
}