$darkCharcoal: #1A1A1A;
$softPink: #F9EFEC;
$charcoalGray: #262626;
$peachBlush: #F3DFD8;
$jetBlack: #0F0F0F;
$White: #FFFFFF;
$trueBlack: #000000;
$stormGray: #676665;
$terraCota: #CE7D63;
$onyxBlack: #1F1F1F;
$coralClay: #E08D73;
$copperTone: #B86D53;
$darkSlate: #333333;
$silverGray: #B3B3B2;
$roseTan: #DA9E8B;
$lightGray: #CCCCCC;
$charcoalBlack: #1C1C21;
$softPeach: #E7BEB1;
$ebonyGray: #232329;
$stormSilver: #81807E;
$mistGray: #E6E6E6;