@import "../styles/color.scss";

.normal {
  padding: 0.9375vw 1.25vw;
  width: 100%;
  border: none;
  background-color: $terraCota;
  border-radius: 12px;
  color: $jetBlack;
  font-family: "Roboto Mono", monospace;
  font-weight: 500;
  font-size: 0.9375vw;
  cursor: pointer;
}
.normal:hover {
  background-color: $coralClay;
  transform: translateY(-2px);
  box-shadow: 0 4px 12px rgba(206, 125, 99, 0.3);
}

.normal:active {
  background-color: $copperTone;
  transform: translateY(0);
  box-shadow: 0 2px 6px rgba(206, 125, 99, 0.2);
}

.icon {
  padding: 1.0417vw;
  background-color: $jetBlack;
  border: 1px solid $charcoalGray;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.icon img {
  width: 1.0026vw;
  height: 1.0026vw;
}

.cube {
  padding: 0.8333vw;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 12px;
  background-color: $onyxBlack;
  border: 1px solid $darkSlate;
  cursor: pointer;
}

.cube img {
  width: 1.7708vw;
  height: 1.7708vw;
}

.link {
  width: 2.7083vw;
  height: 2.7083vw;
  border: 1px solid $darkSlate;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $onyxBlack;
  cursor: pointer;
}

.link img {
  width: 0.8333vw;
  height: 0.8333vw;
}


.more {
  width: 2.7083vw;
  height: 2.7083vw;
  border: 1px solid $darkSlate;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $onyxBlack;
  cursor: pointer;
}
.more img {
  width: 1.25vw;
  height: 1.25vw;
}





