@import "../../styles/color.scss";

.container {
  width: 100%;
  height: 53.4375vw;
  background-color: $jetBlack;
  padding: 0.9375vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: 2px solid $darkCharcoal;
  border-radius: 24px;
  margin-top: 120px;

}


.title {
  padding: 2.6042vw 0 0 2.6042vw;
  background-color: $darkCharcoal;
  height: 8.125vw;
  width: 100%;
  border-radius: 16px;
}

.serviceItemWrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 0.8854vw;
}