* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html, body {
  max-width: 100vw;
  width: 100%;
  font-family: "Roboto Mono", monospace;
  background-color: #0F0F0F;
  list-style: none;
}
html::-webkit-scrollbar {
  display: none;
}
a {
  color: inherit;
  text-decoration: none;
}

body {
  padding: 1.5625vw 2.6042vw 2.6042vw 2.6042vw;
}
