@import "../styles/color.scss";

.container {
  background-color: $darkCharcoal;
  width: 14.5833vw;
  height: 7.8125vw;
  border-radius: 14px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.5208vw;
}
.moreInfoContainer {
  background-color: $darkCharcoal;
  width: 14.5833vw;
  height: 7.8125vw;
  border-radius: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5208vw;
}

.title {
  font-family: "Roboto Mono", monospace;
  font-weight: 500;
  color: $silverGray;
}
.moreInfoTitle {
  font-family: "Roboto Mono", monospace;
  font-size: 1.0417vw;
  font-weight: 500;
  color: $silverGray;
}
.info {
  font-family: "Roboto", sans-serif;
  font-size: 3.125vw;
  font-weight: 600;
  color: $roseTan;
}
