.container {
  width: 100%;
  border-radius: 24px;
  border: solid 2px #1F1F1F;
  padding: 1.0417vw;
  display: flex;
  flex-direction: column;
  gap: 1.1458vw;
  margin-top: 120px;
}

.itemWrapper {
  display: flex;
  justify-content: space-between;
}