.container {
  width: 100%;
  height: 6.25vw;
  padding: 1.5625vw 2.0833vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #1F1F1F;
  border-radius: 0 0 14px 14px;

}

.personInfoWrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 0.1042vw;
  height: 2.8042vw;
}

.name {
  color: #F3DFD8;
  font-family: "Roboto Flex", sans-serif;
  font-weight: 500;
  font-size: 1.0417vw;
}

.position {
  color: #81807E;
  font-family: "Roboto Flex", sans-serif;
  font-weight: 400;
  font-size: 0.9375vw;
}

.layoutWrapper {
  display: flex;
  align-items: center;
  gap: 0.7813vw;
}