@import "../styles/color.scss";

.container {
  width: 2.6042vw;
  height: 2.6042vw;
  background-color: $softPeach;
  border-radius: 50%;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  filter: grayscale(100%);
}

.position {
  width: 3.125vw;
  height: 3.125vw;
  background-color: $terraCota;
  border-radius: 50%;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.positionImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

