
.container {
  width: 30.8854vw;
  height: 30.8333vw;
  background-color: #1F1F1F;
  position: relative;

}

.bannerImage {
  width: 100%;

}

.bannerImage img {
  width: 30.8854vw;
  background-color: red;
}

.ButtonStart {
  width: 2.5833vw;
  height: 2.5833vw;
  position: absolute;
  left: 0;
}

.bannerFooter {
  width: 100%;
  background-color: purple;

}