.container {
  width: 30.8854vw;
  height: 30.8333vw;
  background-color: #1F1F1F;
  position: relative;
  border-radius: 14px;
}

.bannerImage {
  width: 100%;
}

.mainBannerImage {
  width: 30.8854vw;
  background-color: #0F0F0F;
}

.ButtonStart {
  width: 7.5833vw;
  height: 7.5833vw;
  position: absolute;
  right: 0;
  top: 0.4765vw;
}

.bannerFooter {
  width: 100%;
  padding: 1.5625vw 0 0 1.5625vw;
  display: flex;
  flex-direction: column;
  gap: 0.2083vw;
}

.bannerTitle {
  color: #F9EFEC;
  font-family: "Roboto Flex", sans-serif;
  font-weight: 500;
  font-size: 1.25vw;
}