@import "../styles/color.scss";

.container {
  background-color: $darkCharcoal;
  width: 30.1563vw;
  height: 11.7188vw;
  padding: 2.0833vw;
  display: flex;
  flex-direction:  column;
  gap: 1.0417vw;
  border-radius: 14px;
}


.title {
  text-transform: uppercase;
  color: $White;
  font-size: 0.9375vw;
  font-family: "Roboto Flex", sans-serif;
  font-weight: 500;
}
.item {
  padding: 0.5208vw 0.8333vw;
  background-color: $onyxBlack;
  border-radius: 45px;
  font-weight: 400;
  font-family: "Roboto Mono", monospace;
  color: $mistGray;
  font-size: 0.8333vw;
}
.itemWrapper {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  gap: 0.5208vw;
}