.container {
  background-color: #0F0F0F;
  height: 31.9792vw;
  width: 100%;
  border-radius: 24px;
  padding: 1.0417vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: 2px solid #1A1A1A;
  margin-top: 120px;

}
.title {
  padding: 2.6042vw 0 0 2.6042vw;
  background-color: #1A1A1A;
  height: 8.125vw;
  width: 100%;
  border-radius: 16px;
}
.reasonItemWrappeer {
  display: flex;
  justify-content:  space-between;
}