@import "../styles/color.scss";

.gray {
  font-size: 0.9375vw;
  color: $stormGray;
  font-family: "Roboto Flex", sans-serif;
}

.lightGray {
  font-family: "Roboto Flex", sans-serif;
  font-size: 0.9375vw;
  color: $silverGray;
}
