@import "../styles/color.scss";

.container {
  width: 32.6042vw;
  padding: 1.25vw;
  background-color: $jetBlack;
  border: none;
  color: $softPink;
  font-size: 0.9375vw;
  font-family: "Roboto Flex", sans-serif;
  border-radius: 10px;
}

.container:focus {
  outline: none;
}

.container::placeholder {
  color: $stormGray;
  font-family: "Roboto Flex", sans-serif;

}
.containerArea {
  width: 32.6042vw;
  height: 8.9583vw;
  padding: 1.25vw;
  background-color: $jetBlack;
  border: none;
  color: $softPink;
  font-size: 0.9375vw;
  font-family: "Roboto Flex", sans-serif;
  border-radius: 10px;
  resize: none;
  &::-webkit-scrollbar {
    display: none;
  }
}

.containerArea:focus {
  outline: none;
}

.containerArea::placeholder {
  color: $stormGray;
  font-family: "Roboto Flex", sans-serif;
}
