.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1.0417vw;
  margin-top: 120px;

}

.questionWrapper {
  display: flex;
  flex-direction: column;
  gap: 0.7208vw;
}


.wrapper {
  display: flex;
  justify-content: space-between;
}

